/* CSS Styles (styles.css) */

#price-range-slider {
  background: #333;
  height: 2px;
}

#price-range-slider .range-slider__range {
  background: #fff;
  transition: height 0.3s;
}

#price-range-slider .range-slider__thumb {
  background: #fff;
  height: 10px;
  width: 10px;
  transition: transform 0.3s;
}

#price-range-slider .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}

#price-range-slider .range-slider__range[data-active] {
  height: 16px;
}
